@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var Errors = (List<FluentValidation.Results.ValidationFailure>)ViewData["Error"];
}

@model Class

@{ 
    if(Errors != null)
    {
        foreach (var error in Errors)
        {
    <div class="alert alert-danger" role="alert">
        @error
    </div>        
        }
    }
}

<form asp-action="Create" method="post">    
    <div class="form-group">
        <label asp-for="ClassName">Class Name</label>
        <input type="text" asp-for="ClassName" class="form-control" id="className" aria-describedby="className" placeholder="Enter Class Name">
    </div>

    <div class="form-group">
        <label asp-for="Floor">Floor</label>
        <input type="text" asp-for="Floor" class="form-control" id="floorName" aria-describedby="Floor" placeholder="Enter Floor">
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Add</button>
</form>
