
@{
    var Class = (Class)ViewData["Class"];
}

@model Class
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <h1>Edit Class</h1>
                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <div>
                            <input type="hidden" name="Id" asp-for="@Class.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassName">New Class Name</label>
                        <input type="text" asp-for="ClassName" value="@Class.ClassName" class="form-control" id="className" aria-describedby="className" placeholder="Edit Class Name">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Floor">New Class Name</label>
                        <input type="text" asp-for="Floor" value="@Class.Floor" class="form-control" id="floor" aria-describedby="floor" placeholder="Edit Floor">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <button type="submit" class="btn btn-colour-1" value="Update">Save</button>
                </form>
                </div>
            </div>
            </div>
